@charset "UTF-8";


.html {
  // Set fixed width by default
  .fa,
  .pe{
    // Disabled 5/12/2014 because it messes up the pe icon for button in elements modal ~Jur
    // box-sizing: content-box; // Needed for proper padding support in fixed width (.fw) icons
    text-align:center;
    line-height:1.28571429em; // based on Font Awesome fa-fw style (fixed width)
    width:1.28571429em;
    height:1.28571429em;
    padding:0;
  }

  // STBE Icon Style Utility classes
  .stbe-util-icon-circle {
    border-radius: 50%;
    background: #333;
    color:#fff;
    padding:0.4em;
  }
  .stbe-util-icon-square {
    border-radius: 0;
    background: #333;
    color:#fff;
    padding:0.4em;
  }
  .stbe-util-icon-rounded {
    border-radius: 4px;
    background: #333;
    color:#fff;
    padding:0.4em;
  }
  // Icon border switch
  .stbe-util-icon-border {
    border: 1px solid #444;
    background:transparent;
    color:#333;
    padding:0.4em;
  }
  .stbe-util-icon-circle,
  .stbe-util-icon-square,
  .stbe-util-icon-rounded,
  .stbe-util-icon-border {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}



// CSS3 Hover Effects
// based on http://tympanus.net/codrops/?p=15265
.stbe-util-icon-fx {
  background: #eee;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 1;
}
.stbe-util-icon-fx:before {
}
.stbe-util-icon-fx:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.stbe-util-fx-disc {
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.stbe-util-fx-disc:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  background:inherit;
  z-index:-1;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

.stbe-util-fx-disc:hover:after {
  transform: scale(1.2, 1.2);
  opacity:1;
}

.stbe-util-fx-pulse {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.stbe-util-fx-pulse:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: inherit;
  -webkit-transition: -webkit-transform 0.25s, opacity 0.35s;
  -moz-transition: -moz-transform 0.25s, opacity 0.35s;
  transition: transform 0.25s, opacity 0.35s;
  transform: scale(0.7, 0.7);
}

.stbe-util-fx-pulse:hover:after {
  transform: scale(1.5, 1.5);
  opacity: 0;
}
