@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		opacity: 1;
		top: 0;
		left: 50%;
		margin: 1px;
		border-radius: 50%;
		border: 5px solid #fff;
		border-color: #333 transparent #333 transparent;
		animation: loading 1.2s linear infinite;
		z-index: 999;
	}
}

.az-cms-element,
.az-node {
	& > div:empty,
	& .az-loading {
		@extend .loading;
	}
}