.az-section {
	&-slider {
		&__image {
			transition: opacity .8s ease;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			background-size: cover;
			background-position: center center;
			z-index: -2;

			&--active {
				opacity: 1;
			}
		}
		&--mask {
			&-white {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: rgba(255, 255, 255, .66);
					z-index: -1;
				}
			}
			&-black {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: rgba(0, 0, 0, .66);
					z-index: -1;
				}
			}
		}
	}
}