@charset "UTF-8";

.az-util-vertical-align {
  &-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &-stretch {
    display: flex;
    flex-direction: column;

    & > .az-element {
      flex: 1;
    }
    
    & > .az-ctnr {
      flex: 1;
      display: flex;
      flex-direction: column;

      & > .az-row {
        flex: 1;
      }
    }
  }
}

// Drop shadows
.html {
  // Material Design layer shadows
  // https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-shadows
  .glazed-shadow-1,
  .glazed-shadow-2,
  .glazed-shadow-3,
  .glazed-shadow-4,
  .glazed-shadow-5 {
    transition: box-shadow .2s ease-out 0s;
  }
  .glazed-shadow-hover-1,
  .glazed-shadow-hover-2,
  .glazed-shadow-hover-3,
  .glazed-shadow-hover-4,
  .glazed-shadow-hover-5 {
    transition: box-shadow .1s ease-in-out 0s;
  }
  .glazed-shadow-1,
  .glazed-shadow-hover-1:hover {
     box-shadow: $glazed-shadow-1;
  }
  .glazed-shadow-2,
  .glazed-shadow-hover-2:hover {
     box-shadow: $glazed-shadow-2;
  }
  .glazed-shadow-3,
  .glazed-shadow-hover-3:hover {
     box-shadow: $glazed-shadow-3;
  }
  .glazed-shadow-4,
  .glazed-shadow-hover-4:hover {
     box-shadow: $glazed-shadow-4;
  }
  .glazed-shadow-5,
  .glazed-shadow-hover-5:hover {
     box-shadow: $glazed-shadow-5;
  }

  // old sooperthemes "premium elements" shadows
  .stpe-dropshadow {
    position:relative;
    margin-bottom:20px;
    z-index:5;
    max-width:100%;
    padding-left:0;
    padding-right:0;
    > img {
      display:block;
      margin:0;
      width: 100%;
    }
    *:not(.controls) {
      position:relative;
      z-index:6;
    }
    &::before,
    &::after {
      content:"";
      position:absolute;
      z-index:0;
    }
  }

  .stpe-dropshadow--raised {
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .stpe-dropshadow--glow {
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px, rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  }


  .stpe-dropshadow--lifted {
    border-radius:4px;
  }

  .stpe-dropshadow--lifted::before,
  .stpe-dropshadow--lifted::after {
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    box-shadow: 0 15px 7px rgba(0, 0, 0, 0.8);
    transform: rotate(-3deg);
  }

  .stpe-dropshadow--lifted::after {
    right:10px;
    left:auto;
    transform: rotate(3deg);
  }

  .stpe-dropshadow--perspective::before {
    left:80px;
    bottom:3px;
    width:50%;
    height:35%;
    max-width:50px;
    max-height:40px;
    box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
    transform: skew(50deg, 0deg);
    transform-origin: 0 107%;
  }

  .stpe-dropshadow--perspective::after {
    display:none;
  }

  .stpe-dropshadow--curved::before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    box-shadow: 0 0 10px black;
    border-radius: 10px / 100px;
  }

  .stpe-dropshadow--curved-vt2::before {
    right:0;
  }

  .stpe-dropshadow--curved-hz1::before {
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }

  .stpe-dropshadow--curved-hz2::before {
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }

}