@charset "UTF-8";

#az-elements-tabs .tab-pane {
  h3 {
    clear: both;
    padding-top: 15px;

    &:first-child {
      padding-top: 0;
    }
  }
  .page-template {
    width: 100%;
    height: auto;
    padding: 15px 0;
    cursor: pointer;

    .lead {
      margin: 0;
      padding: 0 0 5px 0;
    }
    img {
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
    }
    &:hover,
    &:focus {
      img {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      }
    }
  }
}