div.ac-select-image {
  ul {
    &.preview{
      overflow: hidden;
      padding-left: 0px;
      list-style-type:none;
      margin: 4px 0;
      li {
        cursor: col-resize;
        position: relative;
        background: #F5F5F5;
        padding: 4px;
        float: left;
        margin: 0px 5px 5px 0;
        min-height: 75px;
        min-width: 75px;
        line-height: 70px;
        text-align: center;
        .image-preview {
          position:relative;
          height:75px;
          width:75px;
          max-height: 75px;
          display: inline-block;
          vertical-align: middle;
        }
        .glyphicon-remove {
          width: 16px;
          height: 16px;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0.5;
          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }
  button {
    display:block;
  }
  input.image_upload {
    height:0;
    margin:0;
    padding:0;
    visibility:hidden;
  }
  .image-style-input-label {
    clear:both;
  }
  .image-style-input {
    display:none;
  }
  div.chosen-container {
    display:block;
    clear:both;
    margin: 4px 0;
    .chosen-single div b {
      background-position: 0 .6em;
    }
    .chosen-search input[type=text] {
      min-width: 249px;
    }
  }
}

div.ac-select-file {
  ul {
    &.preview{
      overflow: hidden;
      padding-left: 0px;
      list-style-type:none;
      margin: 4px 0;
      li {
        cursor: col-resize;
        position: relative;
        background: #F5F5F5;
        padding: 4px;
        float: left;
        margin: 0px 5px 5px 0;
        min-height: 75px;
        min-width: 75px;
        line-height: 70px;
        text-align: center;
        .file-preview {
          position:relative;
          height:75px;
          width:75px;
          max-height: 75px;
          display: inline-block;
          vertical-align: middle;
        }
        .glyphicon-remove {
          width: 16px;
          height: 16px;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0.5;
          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }
  button {
    display:block;
  }
  input.file_upload {
    height:0;
    margin:0;
    padding:0;
    visibility:hidden;
  }
  .file-style-input-label {
    clear:both;
  }
  .file-style-input {
    display:none;
  }
  div.chosen-container {
    display:block;
    clear:both;
    margin: 4px 0;
    .chosen-single div b {
      background-position: 0 .6em;
    }
    .chosen-search input[type=text] {
      min-width: 249px;
    }
  }
}

#az-media-modal {
  z-index: 5050;
  .modal-dialog {
    width: 90%;
    height: 90%;
  }
  .modal-content,
  .modal-body {
    height: 100%;
  }
  iframe {
    width: 100%;
    height: calc(100% - 70px);
  }
}
