@charset "UTF-8";

.animated {
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.fadeIn {
    animation-name: fadeIn;
}
.flipIn {
    animation-name: flipIn;
}
.slideIn {
    animation-name: zoomIn;
}
.zoomIn {
    animation-name: zoomIn;
}
.slideInLeft {
    animation-name: slideInLeft;
}
.slideInRight {
    animation-name: slideInRight;
}
.slideInTop {
    animation-name: slideInTop;
}
.slideInBottom {
    animation-name: slideInBottom;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flipIn {
  from {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}