.html ul.stbe-contact {
  margin: 0;
  padding: 0;
}
.html ul.stbe-contact .stbe-contact__item {
  padding: 0;
  list-style: none;
  list-style-type: none;
  font-size: 1.4em;
  line-height: 1.7em;
}
