.stpe-cta--wide {
  text-align: center;
}
.stpe-cta--wide .stpe-cta__heading {
  display: inline-block;
}
.stpe-cta--wide .btn {
  margin-left: 2em;
  margin-top: -0.4em;
}

.stpe-cta__heading {
  margin-bottom: 0.15em;
}

@media screen and (min-width: 768px) {
  .stpe-cta--large {
    display: table;
  }
  .stpe-cta--large .stpe-cta__text,
  .stpe-cta--large .stpe-cta__button {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}
.stpe-cta--large .stpe-cta__text .lead {
  font-size: 24px;
}
