.stbe-iconbox {
  display: inline-block;
  padding: 0.4em;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
}
.stbe-iconbox .stbe-iconbox__heading .stbe-iconbox__title {
  clear: none;
}

.stbe-iconbox--icon-inline-title {
  display: table;
}
.stbe-iconbox--icon-inline-title .stbe-iconbox__heading {
  padding-bottom: 15px;
}
.stbe-iconbox--icon-inline-title .stbe-iconbox__span-icon, .stbe-iconbox--icon-inline-title .stbe-iconbox__title {
  display: table-cell;
  vertical-align: middle;
}
.stbe-iconbox--icon-inline-title .stbe-iconbox__span-icon {
  padding-right: 15px;
}

.stbe-iconbox--no-icon .stbe-iconbox__title {
  display: block;
}

.stbe-iconbox--icon-boxed {
  background: #eee;
  padding: 50px 3% 30px 3%;
  text-align: center;
}
.stbe-iconbox--icon-boxed i {
  position: absolute;
  top: -0.55em;
  margin-left: -0.55em;
}
.stbe-iconbox--icon-boxed.stbe-iconbox--2x-icon {
  margin-top: 30px;
}
.stbe-iconbox--icon-boxed.stbe-iconbox--3x-icon {
  margin-top: 40px;
}
.stbe-iconbox--icon-boxed.stbe-iconbox--4x-icon {
  margin-top: 50px;
}
.stbe-iconbox--icon-boxed.stbe-iconbox--5x-icon {
  margin-top: 70px;
}

.stbe-iconbox--icon-adjacent .stbe-iconbox__span-icon {
  margin-left: -2.5em;
  float: left;
}
.stbe-iconbox--icon-adjacent .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent .stbe-iconbox__heading {
  padding-left: 2.5em;
}
.stbe-iconbox--icon-adjacent .stbe-iconbox__title {
  margin-bottom: 10px;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--2x-icon .stbe-iconbox__span-icon {
  margin-left: -3.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--2x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--2x-icon .stbe-iconbox__heading {
  padding-left: 3.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--3x-icon .stbe-iconbox__span-icon {
  margin-left: -4.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--3x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--3x-icon .stbe-iconbox__heading {
  padding-left: 4.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--4x-icon .stbe-iconbox__span-icon {
  margin-left: -5.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--4x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--4x-icon .stbe-iconbox__heading {
  padding-left: 5.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--5x-icon .stbe-iconbox__span-icon {
  margin-left: -6.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--5x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--5x-icon .stbe-iconbox__heading {
  padding-left: 6.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right .stbe-iconbox__span-icon {
  margin-left: 0;
  margin-right: -2.5em;
  float: right;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--right .stbe-iconbox__heading {
  padding-left: 0;
  padding-right: 2.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--2x-icon .stbe-iconbox__span-icon {
  margin-right: -3.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--2x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--2x-icon .stbe-iconbox__heading {
  padding-right: 3.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--3x-icon .stbe-iconbox__span-icon {
  margin-right: -4.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--3x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--3x-icon .stbe-iconbox__heading {
  padding-right: 4.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--4x-icon .stbe-iconbox__span-icon {
  margin-right: -5.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--4x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--4x-icon .stbe-iconbox__heading {
  padding-right: 5.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--5x-icon .stbe-iconbox__span-icon {
  margin-right: -6.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--5x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--right.stbe-iconbox--5x-icon .stbe-iconbox__heading {
  padding-right: 6.5em;
}

.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded .stbe-iconbox__span-icon {
  margin-left: -3em;
  float: left;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded .stbe-iconbox__heading {
  padding-left: 3em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded .stbe-iconbox__title {
  margin-bottom: 10px;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--2x-icon .stbe-iconbox__span-icon {
  margin-left: -5.25em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--2x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--2x-icon .stbe-iconbox__heading {
  padding-left: 5.25em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--3x-icon .stbe-iconbox__span-icon {
  margin-left: -7.3em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--3x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--3x-icon .stbe-iconbox__heading {
  padding-left: 7.3em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--4x-icon .stbe-iconbox__span-icon {
  margin-left: -9.4em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--4x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--4x-icon .stbe-iconbox__heading {
  padding-left: 9.4em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--5x-icon .stbe-iconbox__span-icon {
  margin-left: -11.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--5x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--5x-icon .stbe-iconbox__heading {
  padding-left: 11.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right .stbe-iconbox__span-icon {
  margin-left: 0;
  margin-right: -3em;
  float: right;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right .stbe-iconbox__heading {
  padding-left: 0;
  padding-right: 3em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--2x-icon .stbe-iconbox__span-icon {
  margin-right: -5.25em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--2x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--2x-icon .stbe-iconbox__heading {
  padding-right: 5.25em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--3x-icon .stbe-iconbox__span-icon {
  margin-right: -7.3em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--3x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--3x-icon .stbe-iconbox__heading {
  padding-right: 7.3em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--4x-icon .stbe-iconbox__span-icon {
  margin-right: -9.4em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--4x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--4x-icon .stbe-iconbox__heading {
  padding-right: 9.4em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--5x-icon .stbe-iconbox__span-icon {
  margin-right: -11.5em;
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--5x-icon .stbe-iconbox__content,
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded.stbe-iconbox--right.stbe-iconbox--5x-icon .stbe-iconbox__heading {
  padding-right: 11.5em;
}
