.stpe-pricelisting h1, .stpe-pricelisting h2, .stpe-pricelisting h3, .stpe-pricelisting h4, .stpe-pricelisting h5, .stpe-pricelisting h6, .stpe-pricelisting p {
  margin: 0;
}
.stpe-pricelisting .stpe-pricelisting__heading {
  position: relative;
  border-bottom: dotted 2px #ccc;
}
.stpe-pricelisting .stpe-pricelisting__title {
  position: relative;
  bottom: -0.3em;
  float: left;
  margin-right: 7em;
  left: 0;
  padding: 0 5px 0 0;
}
.stpe-pricelisting .stpe-pricelisting__price {
  position: absolute;
  bottom: -0.3em;
  right: 0;
  padding: 0 0 0 5px;
  background: #fff;
}
.stpe-pricelisting .stpe-pricelisting__description {
  padding: 5px 0 0 0;
}
