@charset "UTF-8";
.stpe-quoteslider {
  padding: 0 10px 30px;
  margin-top: 30px;
}
.stpe-quoteslider .carousel-control {
  background: none !important;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 50px;
  width: 60px;
}
.stpe-quoteslider .carousel-control:hover, .stpe-quoteslider .carousel-control:focus, .stpe-quoteslider .carousel-control:active {
  color: #222;
}
.stpe-quoteslider .carousel-control.left {
  left: -12px;
}
.stpe-quoteslider .carousel-control.right {
  right: -12px !important;
}
.stpe-quoteslider .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0;
  margin-right: -19px;
}
.stpe-quoteslider .carousel-indicators li {
  background: #c0c0c0;
}
.stpe-quoteslider .carousel-indicators .active {
  background: #333333;
}

@media (min-width: 768px) {
  .stpe-quoteslider {
    margin-bottom: 0;
    padding: 0 40px 30px;
  }
}
@media (max-width: 768px) {
  .stpe-quoteslider .carousel-indicators {
    bottom: -20px !important;
  }
  .stpe-quoteslider .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
  }
  .stpe-quoteslider .carousel-indicators li.active {
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote img {
  margin-bottom: 10px;
}
.item blockquote p:before {
  content: "“";
  font-family: inherit;
  font-size: 30px;
  line-height: 30px;
  float: left;
  margin-right: 10px;
}
