body .stpe-separator--slant-left {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}
body .stpe-separator--slant-right {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}
