.stpe-teambox img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.stpe-teambox .stpe-teambox__member-info {
  padding: 15px 0 10px 0;
}
.stpe-teambox .stpe-teambox__member-info .stpe-teambox__member-name,
.stpe-teambox .stpe-teambox__member-info .stpe-teambox__member-role {
  margin-top: 0;
  margin-bottom: 4px;
}
.stpe-teambox .stpe-teambox__member-info .stpe-teambox__social-links li {
  padding: 0 0 0.2em 0 !important;
}
.stpe-teambox .stpe-teambox__member-info .stpe-teambox__social-links li a {
  margin: 0 0.8em 0 0;
  padding: 0 !important;
}
.stpe-teambox.stpe-teambox--split .stpe-teambox__member-name-role {
  width: 50%;
  float: left;
}
.stpe-teambox.stpe-teambox--split .stpe-teambox__member-social {
  width: 50%;
  float: right;
  text-align: right;
}
.stpe-teambox.stpe-teambox--split .stpe-teambox__social-links {
  float: right;
}
.stpe-teambox.stpe-teambox--split .stpe-teambox__social-links li {
  float: right;
}
.stpe-teambox.stpe-teambox--split .stpe-teambox__social-links li a {
  margin: 0 0 0 0.8em;
}
.stpe-teambox.stpe-teambox--stacked .stpe-teambox__member-social {
  padding-bottom: 1em;
}
