.stpe-timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.stpe-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  background-color: whitesmoke;
}
.stpe-timeline .stpe-timeline-body > p {
  margin-bottom: 0;
}
.stpe-timeline .stpe-timeline-body > ul {
  margin-bottom: 0;
}
.stpe-timeline .stpe-timeline__heading h4 {
  margin-top: 0;
  color: inherit;
}
.stpe-timeline .stpe-timeline__heading h4.subheading {
  text-transform: none;
}

.stpe-timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}
.stpe-timeline > li:before {
  content: " ";
  display: table;
}
.stpe-timeline > li:after {
  content: " ";
  display: table;
  clear: both;
}
.stpe-timeline > li .stpe-timeline__panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.stpe-timeline > li .stpe-timeline__panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.stpe-timeline > li .stpe-timeline__panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.stpe-timeline > li .stpe-timeline__image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 7px solid whitesmoke;
  border-radius: 100%;
  text-align: center;
  color: white;
}
.stpe-timeline > li .stpe-timeline__image h4 {
  margin-top: 12px;
}
.stpe-timeline > li:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .stpe-timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .stpe-timeline > li .stpe-timeline__panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .stpe-timeline > li .stpe-timeline__image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .stpe-timeline > li .stpe-timeline__image h4 {
    margin-top: 16px;
  }

  .stpe-timeline:before {
    left: 50%;
  }

  .stpe-timeline > li.stpe-timeline--inverted > .stpe-timeline__panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
  .stpe-timeline > li.stpe-timeline--inverted > .stpe-timeline__panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .stpe-timeline > li.stpe-timeline--inverted > .stpe-timeline__panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}
@media (min-width: 992px) {
  .stpe-timeline > li {
    min-height: 150px;
  }
  .stpe-timeline > li .stpe-timeline__panel {
    padding: 0 20px 20px;
  }
  .stpe-timeline > li .stpe-timeline__image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .stpe-timeline > li .stpe-timeline__image h4 {
    margin-top: 30px;
  }

  .stpe-timeline > li.stpe-timeline--inverted > .stpe-timeline__panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .stpe-timeline > li {
    min-height: 170px;
  }
  .stpe-timeline > li .stpe-timeline__panel {
    padding: 0 20px 20px 100px;
  }
  .stpe-timeline > li .stpe-timeline__image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .stpe-timeline > li .stpe-timeline__image h4 {
    margin-top: 40px;
  }

  .stpe-timeline > li.stpe-timeline--inverted > .stpe-timeline__panel {
    padding: 0 100px 20px 20px;
  }
}
