@charset "UTF-8";

// Empty CMS element output
.empty-cms-block-placeholder {
  min-height: 60px;
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 10px,
    #f6f6f6 10px,
    #f6f6f6 20px
  );
}

// Empty container placeholder and help text
.az-unknown {
  display: none;
}
.glazed-editor {
  .az-unknown {
    display: block;
    color: #ff0000;
    font-style: italic;
    outline: 2px dashed #EBEBEB;
  }
  .az-section > .az-ctnr > .az-empty {
    &:after {
      content: none;
    }
  }
  .az-empty {
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
    min-height: 128px;
    font-size: 12px;
    margin-top: 50px;
    width: 100%;
    h1 {
      margin: 0;
      padding: 0;
    }
    .lead {
      color: #bbb;
      text-align: center;
    }
    .well {
      z-index: 0;
      &:hover {
        z-index: 1;
      }
    }
    .top {
      background: transparent;
    }
    .top-left {
      text-align: left;
      position: absolute;
      top: 0;
    }
    .bottom-left {
      text-align: left;
      position: absolute;
      left: 2%;
      bottom: 0;
      width: 30%;
    }
    .bottom {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 40%;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translate(-50%, 0);
    }
    .top-right {
      text-align: right;
      position: absolute;
      right: 0;
      top: 0;
    }
    .bottom-right {
      text-align: right;
      position: absolute;
      right: 2%;
      bottom: 0;
      width: 30%;
    }
  }
  .az-empty::after {
    content: " +";
    color: black;
    text-shadow: 0 0 7px white;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    font-size: 3em;
    opacity: 0.15;
    position: absolute;
    left: 50%;
    top: 50%;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate(-50%, -50%);
  }
  &.az-container > .az-empty {
    position: relative;
    min-height: 250px;
  }
  .az-layers > .az-ctnr > .az-empty {
    min-height: 100%;
  }
  .az-empty .glazed-choose-layout {
    color: #0180ef;
    weight: 300;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 60px;
    border: 2px solid #d4d5d6;
    display: inline-block;
    transition: border-color 0.4s;
    &:hover,
    &:focus {
      border-color: #0180ef;
    }
  }
}