@charset "UTF-8";

.glazed-editor div.az-layers > .az-ctnr:after,
.glazed-editor .az-layers > .az-ctnr > .az-element:after {
  content: '.';
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px dotted #222;
  border: 1px dotted rgba(0, 0, 0, 0.4);
  opacity: .3;
}
.glazed-editor div.az-layers:hover > .az-ctnr:after,
.glazed-editor .az-layers:hover > .az-ctnr > .az-element:after {
  opacity: 1;
}