@charset "UTF-8";

.glazed-editor .az-row .az-ctnr:after,
.az-container.glazed:after {
  content: '';
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px dashed #EBEBEB;
  outline: 2px dashed rgba(125, 125, 125, 0.4);
  opacity: .3;
}
.glazed-editor .az-row:hover .az-ctnr:after,
.az-container.glazed:hover:after {
  content: '';
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px dashed #EBEBEB;
  outline: 2px dashed rgba(125, 125, 125, 0.4);
  opacity: 1;
}
.glazed-editor .az-element:not(.az-row):hover:after {
  /*  content: ' ';
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.2; Removed by Jur 14-04-2015 because it conflicts with background color overlays */
}
.az-row > .controls > .popover.right {
  margin-left: 0px;
}
.az-row > .controls > .popover {
  min-width: 306px;
  .popover-content {
    padding-right: 0 !important;
  }
}
.row-layouts {
  text-align: center;
  word-wrap: normal;
  white-space: nowrap;
}
.custom-row-control {
  color: #555 !important;
  text-transform: lowercase;
  position: relative;
  top: 2px;
}
.set-columns-layout:hover {
  cursor: pointer;
}

// Row Columns Interface
.popover .row-layouts .az-mini-container {
  width: 47px;
  float: left;
  color: #555 !important;
  background: #fff !important;
  padding: 0 !important;
  margin: 0 !important;
  .row {
    padding: 4px 2px 4px 2px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;
    height: 28px;
    &:hover {
      background: #f3f3f3;
      border-color: #0180ef;
      .content {
        // background: white;
      }
    }
  }
  [class^="col"] {
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 10px;
    text-align: center;
  }
  .content {
    background: #555;
    color: silver;
    width: 100%;
    height: 18px;
  }
}
.az-row-custom {
  display: block;
  clear: both;
  width: 100%;
  a {
    color: #0180ef;
    &:hover,
    &:focus,
    &:active {
      color: #0180ef;
    }
  }
}