div.ac-select-image ul.preview {
  overflow: hidden;
  padding-left: 0px;
  list-style-type: none;
  margin: 4px 0;
}
div.ac-select-image ul.preview li {
  cursor: col-resize;
  position: relative;
  background: #F5F5F5;
  padding: 4px;
  float: left;
  margin: 0px 5px 5px 0;
  min-height: 75px;
  min-width: 75px;
  line-height: 70px;
  text-align: center;
}
div.ac-select-image ul.preview li .image-preview {
  position: relative;
  height: 75px;
  width: 75px;
  max-height: 75px;
  display: inline-block;
  vertical-align: middle;
}
div.ac-select-image ul.preview li .glyphicon-remove {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}
div.ac-select-image ul.preview li .glyphicon-remove:hover {
  text-decoration: none;
  opacity: 1;
}
div.ac-select-image button {
  display: block;
}
div.ac-select-image input.image_upload {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
div.ac-select-image .image-style-input-label {
  clear: both;
}
div.ac-select-image .image-style-input {
  display: none;
}
div.ac-select-image div.chosen-container {
  display: block;
  clear: both;
  margin: 4px 0;
}
div.ac-select-image div.chosen-container .chosen-single div b {
  background-position: 0 .6em;
}
div.ac-select-image div.chosen-container .chosen-search input[type=text] {
  min-width: 249px;
}

div.ac-select-file ul.preview {
  overflow: hidden;
  padding-left: 0px;
  list-style-type: none;
  margin: 4px 0;
}
div.ac-select-file ul.preview li {
  cursor: col-resize;
  position: relative;
  background: #F5F5F5;
  padding: 4px;
  float: left;
  margin: 0px 5px 5px 0;
  min-height: 75px;
  min-width: 75px;
  line-height: 70px;
  text-align: center;
}
div.ac-select-file ul.preview li .file-preview {
  position: relative;
  height: 75px;
  width: 75px;
  max-height: 75px;
  display: inline-block;
  vertical-align: middle;
}
div.ac-select-file ul.preview li .glyphicon-remove {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}
div.ac-select-file ul.preview li .glyphicon-remove:hover {
  text-decoration: none;
  opacity: 1;
}
div.ac-select-file button {
  display: block;
}
div.ac-select-file input.file_upload {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
div.ac-select-file .file-style-input-label {
  clear: both;
}
div.ac-select-file .file-style-input {
  display: none;
}
div.ac-select-file div.chosen-container {
  display: block;
  clear: both;
  margin: 4px 0;
}
div.ac-select-file div.chosen-container .chosen-single div b {
  background-position: 0 .6em;
}
div.ac-select-file div.chosen-container .chosen-search input[type=text] {
  min-width: 249px;
}

#az-media-modal {
  z-index: 5050;
}
#az-media-modal .modal-dialog {
  width: 90%;
  height: 90%;
}
#az-media-modal .modal-content,
#az-media-modal .modal-body {
  height: 100%;
}
#az-media-modal iframe {
  width: 100%;
  height: calc(100% - 70px);
}
